body {
  font-family: "Georgia", serif;
  background: #f5f0e6;
  margin: 0;
  padding: 0;
}

header {
  background-color: #6c3c30;
  color: #f5f0e6;
  padding: 1rem;
  text-align: center;
}

.search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  background-color: rgba(193, 154, 115, 1);
}

#searchInput {
  padding: 0.6rem;
  width: 60%;
  font-size: 1rem;
  background-color: #f5f0e6;
  border: none;
  border-radius: 5px;
}

#searchBtn {
  padding: 0.6rem 1rem;
  margin-left: 10px;
  background-color: #4f6b45;
  color: #f5f0e6;
  font-size: 1.3rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#errorMsg {
  color: red;
  text-align: center;
  margin-top: 1rem;
}

#results {
  display: flex;
  flex-wrap: wrap;
  padding: 2rem;
  gap: 2rem;
  justify-content: center;
}

#addBtn {
  background-color: #4f6b45;
  color: #eae3d0;
  border: 2px solid #4f6b45;
  border-radius: 5px;
  font-size: 2vw;
  padding: 0.3vw;
  position: fixed;
  bottom: 1.5vw;
  right: 1.5vw;
  z-index: 1000;
  //box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s ease;
}

#addBtn:hover {
  background-color: #86915b;
  transform: scale(1.05);
}

#default {
  display: flex;
  justify-content: center;
  font-size: 1.5vw;
  color: #6c3c30;
}

.book-card {
  width: 200px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
  padding: 1rem;
  text-align: center;
  transition: transform 0.2s ease;
}

.book-card:hover {
  transform: scale(1.05);
}

.book-img {
  width: 100%;
  height: 150px;
  background-image: url("../images/book1.png"); /* Replace with real image path */
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 5px;
  margin-bottom: 10px;
}

.contact-name {
  font-weight: bold;
  color: #5a3c1b;
}

.contact-info {
  font-size: 0.9rem;
  color: #333;
}

@media only screen and (max-width: 767px) {
  #addBtn {
    font-size: 3vh;
    padding: 0.3vh;
    bottom: 4vh;
    right: 2vh;
    z-index: 1000;
  }
}
