body {
  background-color: #6c3c30;
  font-family: Arial, Helvetica, sans-serif;
}

button {
  font-family: Arial, Helvetica, sans-serif;
}

input {
  font-family: Arial, Helvetica, sans-serif;
  color: rgba(52, 0, 11, 0.5);
}

.imgContainer {
  position: absolute;
  z-index: -1;
  width: 100vw;
  height: 90vh;
  display: flex;
  justify-content: center;
  //align-items: center;
}

.loginBook {
  padding-left: 9rem;
  padding-top: 3rem;
  width: 75rem;
  max-width: 90vw;
  height: auto;
}

.loginContainer {
  position: relative;
  z-index: 1;
  width: 100vw;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loginContainer div {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 45%;
  color: #34000b;
}

h1 {
  font-size: 3rem;
  display: flex;
  justify-content: center;
}

.field {
  //display: flex;
  flex-direction: row !important;
  gap: 1rem;
  padding-bottom: 1rem;
  width: 100% !important;
  //align-items: center;
  //flex: 1;
}

.field span {
  padding-right: 1rem;
  font-size: 1.4rem;
}

.field input {
  background-color: #eae3d0;
  border: 1.5px solid #34000b;
  border-radius: 4px;
  width: 100%;
  font-size: 1.2rem;
  padding: 0.2rem;
}

.loginButton {
  color: #eae3d0;
  background-color: #4f6b45;
  font-size: 1.75rem;
  border: none;
  border-radius: 8px;
  padding: 0.5rem 1rem;
  margin-top: 1rem;
  width: fit-content !important;
  align-self: center;
}

.loginButton:hover {
  background-color: #86915b;
}

.signupMsg {
  flex-direction: row !important;
  gap: 0.5rem;
  width: 100% !important;
  padding-top: 5rem;
  font-size: 1.1rem;
}

.signupMsg a:visited {
  color: #34000b;
}

.signupMsg a:hover {
  color: #4f6b45;
}
