body {
  background-color: #6c3c30;
  font-family: Arial, Helvetica, sans-serif;
}

button {
  font-family: Arial, Helvetica, sans-serif;
}

input {
  font-family: Arial, Helvetica, sans-serif;
  color: rgba(52, 0, 11, 0.5);
}

.imgContainer {
  position: absolute;
  z-index: -1;
  width: 100vw;
  height: 90vh;
  display: flex;
  justify-content: center;
  //align-items: center;
}

.loginBook {
  padding-left: 11vw;
  padding-top: 4vw;
  width: 90vw;
  max-width: 90vw;
  height: auto;
}

.loginContainer {
  position: relative;
  z-index: 1;
  width: 100vw;
  height: 90vh;
  padding-top: 6vw;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.loginContainer div {
  display: flex;
  flex-direction: column;
  gap: 0.6vw;
  width: 45%;
  color: #34000b;
}

h1 {
  font-size: 4vw;
  display: flex;
  justify-content: center;
}

.field {
  //display: flex;
  flex-direction: row !important;
  gap: 1vw;
  padding-bottom: 1vw;
  width: 100% !important;
  //align-items: center;
  //flex: 1;
}

.field span {
  padding-right: 1vw;
  font-size: 2vw;
}

.field input {
  background-color: #eae3d0;
  border: 1.5px solid #34000b;
  border-radius: 4px;
  width: 100%;
  font-size: 1.5vw;
  padding: 0.2vw;
}

.loginButton {
  color: #eae3d0;
  background-color: #4f6b45;
  font-size: 2vw;
  font-weight: 600;
  border: none;
  border-radius: 8px;
  padding: 0.5vw 1vw;
  margin-top: 1vw;
  width: fit-content !important;
  align-self: center;
}

.loginButton:hover {
  background-color: #86915b;
}

.signupMsg {
  flex-direction: row !important;
  gap: 0.5vw;
  width: 100% !important;
  padding-top: 6vw;
  font-size: 1.4vw;
}

.signupMsg a:visited {
  color: #34000b;
}

.signupMsg a:hover {
  color: #4f6b45;
}
