body {
  margin: 0;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #eae3d0;
  padding: 5px;
}

.logo {
  height: 2.75rem;
  padding: 0px 4px;
  transition: transform 0.2s ease;
}

.logo:hover {
  transform: scale(1.05);
  opacity: 80%;
}

.navButtons {
  background-color: #4f6b54;
  color: #eae3d0;
  border: none;
  border-radius: 5px;
  padding: 0.3rem 0.75rem;
  margin-right: 4px;
  font-size: 18px;
  font-weight: 500;
}

.navButtons:hover {
  background-color: #86915b;
}
